<header style="opacity: 0" id="nav" class="translationllc__header">
  <a href="#intro" id="introSectionNav" class="translationllc__header__translation-logo_sermad">
    <img class="translationllc__header__translation-logo_sermad__logo" src="assets/translation_logo.svg" />
  </a>
  <nav  class="translationllc__nav">
    <a href="#work">Work</a>
    <a href="#news">News</a>
    <a href="#culture">Culture</a>
    <a class="translationllc__nav__united-masters" href="#unitedMasters">UnitedMasters</a>
  </nav>
</header>
