<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Believing that culture can propel brands forward in ways that advertising alone can never do, we set out to build a company uniquely suited to today’s world. Yes, we create ads in every shape and form. But we also create full-length films, one of the biggest music festivals in America, TV shows we sell to networks, a line of Air Jordans inspired by a fictitious insurance agent, and far more.">
    <meta name="keywords" content="Translation, agency, creative, advertising, film, entertainment, content, technology, communication, design, branding, marketing">
    <meta property="og:title" content="Translation"/>
    <meta property="og:description" content="Believing that culture can propel brands forward in ways that advertising alone can never do, we set out to build a company uniquely suited to today’s world. Yes, we create ads in every shape and form. But we also create full-length films, one of the biggest music festivals in America, TV shows we sell to networks, a line of Air Jordans inspired by a fictitious insurance agent, and far more."/>
    <meta property="og:url" content="http://www.translationllc.com/"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="https://www.translationllc.com/assets/translation-FB-share.jpg"/>
    <meta property="og:image:type" content="image/jpeg"/>
    <title>Translation</title>
    <link rel="icon"
      type="image/png"
      href="/assets/favicon.ico">
    <link rel="stylesheet" media="screen and (max-width: 959px)" href="dist/bundle.mobile.css">
    <link rel="stylesheet" media="screen and (max-width: 959px)" href="css/sermad_mobile.css">
    <link rel="stylesheet" media="screen and (min-width: 960px)" href="dist/bundle.desktop.css">
    <link rel="stylesheet" media="screen and (min-width: 960px)" href="css/sermad_desktop.css">
  </head>
  <body>
    {{{body}}}
  </body>
</html>
