<header style="opacity: 0" id="nav" class="translationllc__header">

  <div id="introSectionNav" class="translationllc__header__translation-logo">
  </div>

  <nav  class="translationllc__nav">
    <a href="#workSection">Work</a>
    <a href="#cultureSection">Culture</a>
    <a href="#newsSection">News</a>
    <!-- <a class="translationllc__nav__united-masters" href="#unitedMastersSection">United Masters</a> -->
  </nav>
</header>
