{{> header}}
<main id="translationllcIntro" class="translationllc__intro" style="opacity: 1">
  <div id="translationllcWeAreTranslation" class="translationllc__intro__background__we-are-translation">
    <div id="animationPlusIcon" class="translationllc__intro__background__plus">
    </div>
  </div>
  <div id="carouselDesktopWrapper" class="hide-component translationllc__intro__carousel--desktop__wrapper">
    <div class="translationllc__intro__carousel--desktop" id="translationllcAnimationDesktop">
    </div>
  </div>
  <div id="translationllcWeAreTranslationDesktop" class="hide-component translationllc__intro__background__we-are-translation--desktop">
    <div id="animationPlusIconDesktop" class="hide-component translationllc__intro__background__plus--desktop">
    </div>
  </div>
</main>
<main id="translationllcMain" class="translationllc__main" style="opacity: 0">
  <section id="introSection" class="translationllc__main__intro">
    <div style="display: none" id="backgroundParallaxOne" class="backgroundParallaxOne preserveAspectRatio">
      <div id="translationllcWeAreCulturalCatalysts" class="translationllc__main__intro__we-are preserveAspectRatio">
        <div id="translationllcCulturalCatalysts" class="translationllc__main__intro__we-are-translation preserveAspectRatio landscapePreserveAspectRatio">
        </div>
      </div>
    </div>
    <tllcvideo class="translationllc__featured-video preserveAspectRatioElement gradientParallax" id="featuredVideo">
      <figure class="translationllc__video__container--intro preserveAspectRatio">
        <!-- <video preload="none" type="video/mp4" class="translationllc__video__container__videointro preserveAspectRatio" id="featuredVideo" src="http://www.translationllc.com/assets/films/our-reel.mp4">
        </video> -->
        <tllcvideoSvgOverlay>
          <div class="translationllc__video__container__overlay--intro">
            <div class="translationllc__video__container__overlay__first-block">
              <h1>WE</h1>
              <h1>ARE</h1>
            </div>
            <div class="translationllc__video__container__overlay__second-block">
              <h1>CULTURAL</h1>
              <h1>CATALYSTS</h1>
            </div>
          </div>
        </tllcvideoSvgOverlay>
      </figure>
      <!-- <button class="translationllc__video__play-button" id="featuredVideo" type="button" name="button">
      </button> -->
    </tllcvideo>
    <!-- <div id="stoutismIntroTwo" class="gradientParallax preserveAspectRatio">
      <img src="../assets/GRADIENT[1].jpg" class="translationllc__stoutism" />
      <div class="translationllc__main__intro__stoutism__words-two translationllc__stoutism-words">
        <p class="translationllc__stoutism-attribution">- Lead, don't follow. Stay five steps ahead.</p>
      </div>
    </div> -->
    <div class="translationllc__main__articles">
      <div class="translationllc__main__articles__article--news">
        <h3 class="translationllc__main__articles__news">NEWS</h3>
      </div>
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">BERKELEY NEWS</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translationllc__main__articles__article-link" href="http://news.berkeley.edu/2017/05/19/dj-khaled-surprises-statistics-graduation/">Steve Stoute Addresses Berkeley and Surprises Graduates with DJ Khaled</a>
          <p class="translationllc__main__articles__article-author">BY: PUBLIC AFFAIRS, UC BERKELEY</p>
        </div>
      </div>
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">ADWEEK</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translationllc__main__articles__article-link" href="http://www.adweek.com/agencyspy/shaq-translation-hype-the-nba-playoffs-as-larger-than-life/130481">Shaq, Translation Hype the NBA Playoffs as Larger Than Life</a>
          <p class="translationllc__main__articles__article-author">BY: ERIK OSTER</p>
        </div>
      </div>
      <hr class="translationllc__news-hr">
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">CAMPAIGN</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translationllc__main__articles__article-link" href="http://www.campaignlive.com/article/career-5-executions-translations-john-norman/1430517">My Career in 5 Executions: Translation’s John Norman</a>
          <p class="translationllc__main__articles__article-author">BY: I-HSIEN SHERWOOD</p>
        </div>
      </div>
      <hr class="translationllc__news-hr">
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">FAST CO.</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a  class="translationllc__main__articles__article-link" href="https://www.fastcompany.com/40405973/the-nba-playoffs-are-here-and-heres-how-stephen-curry-trains-his-mi">The NBA Playoffs are Here, and Here’s How Steph Curry Trains His Mind</a>
          <p class="translationllc__main__articles__article-author">BY: JEFF BEER</p>
        </div>
      </div>
      <div class="translationllc__main__articles__article">
        <h5 class="translationllc__main__articles__article-publication">BRAND CHANNEL</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a  class="translationllc__main__articles__article-link" href="http://brandchannel.com/2017/04/10/la-la-land-vcf-041017/">Tapping La La Land’s Choreographer, VCF is “Made to Mix”</a>
          <p class="translationllc__main__articles__article-author">BY: ABE SAUER</p>
        </div>
      </div>
    </div>
    <!-- <div id="stoutismWork" class="gradientParallax preserveAspectRatio">
      <img src="../assets/Translation_MobileSite_1334x750_Gradient_3.png" class="translationllc__stoutism" />
      <div class="translationllc__main__work__stoutism__words translationllc__stoutism-words">
        <p class="translationllc__stoutism-attribution">- Nuf said.</p>
      </div>
    </div> -->
  </section>
  <section id="workSection" class="translationllc__main__work">
    <div class="translationllc__main__culture__section-icon translationllc__section-icon preserveAspectRatio">
      <img class="translationllc__section-icon__svg translationllc__section-icon__words" src="../assets/work_graphic.svg" alt="">
    </div>
    <!-- <div class="translationllc__main__work__section-icon translationllc__section-icon">
    </div> -->
    <div class="translationllc__main__work__work-mission preserveAspectRatio">
      <div class="translationllc__main__culture__emcee__opacity-layer">
      </div>
      <img class="translationllc__section-icon__words translationllc__section-icon__words--work-that-works" src="../assets/WorkThatActuallyWorks.svg" alt="">
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoOne">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--one preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoOne" src="http://www.translationllc.com/assets/films/KP.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoOne" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">KP + STEPHEN CURRY RAISE MENTAL HEALTH AWARENESS</h3>
      <p class="translation__main__video-text-content__content">
        Quieting the mind to allow the body to thrive, Stephen Curry shows us that the real game begins&nbsp;within.
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoTwo">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--two preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoTwo" src="http://www.translationllc.com/assets/films/NFL.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoTwo" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">A STATEMENT OF UNITY ON THE GAME'S BIGGEST STAGE</h3>
      <p class="translation__main__video-text-content__content">
        “Inside These Lines” shares an uplifting and unifying narrative about players and fans overcoming differences and banding&nbsp;together.
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoThree">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--three preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoThree" src="http://www.translationllc.com/assets/films/VCF.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoThree" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">VCF STAGES A REBRAND WITH A NEW MUSICAL MIX</h3>
      <p class="translation__main__video-text-content__content">
        This commercial-turned-musical stars a woman whose dynamism is reflected by her choice of&nbsp;furniture.
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoNine">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--nine preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoNine" src="http://www.translationllc.com/assets/films/NBA.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoNine" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">THE NBA PLAYOFFS ARE NO JOKE. (FEAT. SHAQ)</h3>
      <p class="translation__main__video-text-content__content">
        We wanted to capture this raw and gritty gametime realness. But we couldn't do it ourselves. So we hired NBA royalty Shaq to help us out. Because, who else?
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoFour">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--four preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoFour" src="http://www.translationllc.com/assets/films/APPLE.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoFour" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">APPLE MAKES STREAMING MUSIC MORE HUMAN</h3>
      <p class="translation__main__video-text-content__content">
        Whether it’s Kerry Washington talking love & mixtapes or James Corden pitching commercial ideas to Apple, these spots use intimacy and humor to humanize streaming.
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoFive">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--five preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoFive" src="http://www.translationllc.com/assets/films/BMIA.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoFive" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">BRINGING BUDWEISER BACK WITH "MADE IN AMERICA"</h3>
      <p class="translation__main__video-text-content__content">
        At an integral moment in their brand’s history, Budweiser and Jay Z teamed up to bridge the American generational gap using the power of music.
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoSix">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--six preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoSix" src="http://www.translationllc.com/assets/films/STATEFARM.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoSix" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">CHRIS & CLIFF PAUL WERE BORN TO ASSIST</h3>
      <p class="translation__main__video-text-content__content">
        With the birth of Chris Paul’s alter-ego, Cliff Paul, came the unlikely union of two disparate worlds; insurance and&nbsp;basketball.
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoSeven">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--seven preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoSeven" src="http://www.translationllc.com/assets/films/NETS.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoSeven" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">NETS UNITE A BOROUGH BY SAYING HELLO</h3>
      <p class="translation__main__video-text-content__content">
        Much more than a campaign, “Hello Brooklyn” was the team’s introduction to a borough, and a city.  And our work with the Nets continues today to rally fans and reignite their passion for Brooklyn&nbsp;basketball.
      </p>
    </div>
    <tllcvideo class="translationllc__work-video preserveAspectRatio" id="workVideoEight">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--eight preserveAspectRatio">
        <video preload="none" type="video/mp4" class="translationllc__video__container__video--work-video videoPreserveAspectRatio" id="workVideoEight" src="http://www.translationllc.com/assets/films/CHAMPS.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoEight" type="button" name="button">
      </button>
    </tllcvideo>
    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">CHAMPS AND DJ KHALED BRING GAME TO LIFE</h3>
      <p class="translation__main__video-text-content__content">
        By building a Champs store inside former employee DJ Khaled’s home, this campaign breathed life into their tagline "We Know Game."
      </p>
    </div>
    <!-- <div id="stoutismIntro" class="gradientParallax preserveAspectRatio">
      <img src="../assets/Translation_MobileSite_1334x750_Gradient_1.png" class="translationllc__stoutism" />
      <div class="translationllc__main__intro__stoutism__words translationllc__stoutism-words">
        <p class="translationllc__stoutism-attribution">- Don't lose focus when making ground-breaking work.</p>
      </div>
    </div> -->
  </section>
  <section id="cultureSection">
    <div class="translationllc__main__culture__section-icon translationllc__section-icon preserveAspectRatio">
      <img class="translationllc__section-icon__words translationllc__section-icon__words--culture" src="../assets/culture.svg" alt="">
    </div>
    <div class="translationllc__main__culture__culture-mission translationllc__section-icon preserveAspectRatio">
      <img class="translationllc__main__culture__culture-mission__svg" src="../assets/OurCultureMovesCulture.svg" alt="">
    </div>
    <div id="majorsMinors" class="translationllc__section-icon translationllc__section-icon--words-only preserveAspectRatio">
      <img class="translationllc__section-icon__words translationllc__section-icon__words--majors-minors" src="../assets/MajorsMinors.svg" alt="">
    </div>
    <div id="minorsCarousel" class="preserveAspectRatio translationllc__main__culture__emcee">
      <div class="translationllc__main__culture__emcee__opacity-layer">
      </div>
    </div>
    <div class="translationllc__section-icon preserveAspectRatio">
      <p class="translationllc__section-icon__copy">
        At Translation, our out-of-office passions are just as important as the titles on our business cards.
        We are collectors, historians, and makers. Our people have obsessive personalities that conveniently
        spill over into the boardroom.
      </p>
    </div>
    <!-- <div id="stoutismCulture" class="gradientParallax preserveAspectRatio">
      <img src="../assets/Translation_MobileSite_1334x750_Gradient_4.png" class="translationllc__stoutism" />
      <div class="translationllc__main__culture__stoutism__words translationllc__stoutism-words translationllc__stoutism-words--tall-quote">
        <p class="translationllc__stoutism-attribution translationllc__stoutism-attribution--tall-quote">- This old proverb from Zimbabwe reminds us to never settle. Let’s raise the bar together.</p>
      </div>
    </div> -->
  </section>
  <section class="translationllc__contact-us" id="contactUs">
    <h2 class="translationllc__contact-us__header">STAY IN TOUCH</h2>
    <div class="translationllc__contact-us__two-column-container">
      <div class="translationllc__contact-us__two-column-container__column">
        <div class="translationllc__contact-us__container">
          <p>145 West 45th Street</p>
          <p>12th Floor</p>
          <p>New York, NY 10036</p>
        </div>
        <div class="translationllc__contact-us__container">
          <a href="tel:1-212-299-5505">212.299.5505</a>
        </div>
      </div>
      <div class="">
        <div class="translationllc__contact-us__container translationllc__contact-us__container--new-business">
          <p>New Business:</p>
          <a href="mailto:newbusiness@translationllc.com">newbusiness@translationllc.com</a>
        </div>
        <div class="translationllc__contact-us__container translationllc__contact-us__container--new-business">
          <p>Careers:</p>
          <a href="mailto:referrals@translationllc.com">referrals@translationllc.com</a>
        </div>
        <ul class="translationllc__contact-us__social-media">
          <a href="https://www.instagram.com/wearetranslation/"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--instagram"></li></a>
          <a href="https://twitter.com/pulseofculture?lang=en"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--twitter"></li></a>
          <a href="https://www.facebook.com/translation/"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--facebook"></li></a>
          <a href="https://www.linkedin.com/company-beta/1716475/"><li class="translationllc__contact-us__social-media__icon translationllc__contact-us__social-media__icon--linkedin"></li></a>
        </ul>
      </div>
    </div>
    <p class="translationllc__contact-us__copyright">Ⓒ2017 Translation. All Rights Reserved.</p>
  </section>
  <button style="display: none" id="requestFullscreenButton" type="button" name="button">Request full screen</button>
</main>
{{> homepageScripts}}
