<div class="translationllc__image-text" style="background-image: url(https://s3.amazonaws.com/translation-bucket/imageTextImages/{{backgroundImage.filename}}); {{backgroundImageStyles}}">
  <div class="translationllc__image-text__content" style="{{contentStyles}}">
    {{{content}}}
  </div>
</div>
<hr>
