<!-- <div id="stoutismIntro" class="gradientParallax preserveAspectRatio">
  <img src="../assets/Translation_MobileSite_1334x750_Gradient_1.png" class="translationllc__stoutism" />
  <div class="translationllc__main__intro__stoutism__words translationllc__stoutism-words">
    <p class="translationllc__stoutism-attribution">- Don't lose focus when making ground-breaking work.</p>
  </div>
</div> -->
<!-- <div id="stoutismIntroTwo" class="gradientParallax preserveAspectRatio">
  <img src="../assets/GRADIENT[1].jpg" class="translationllc__stoutism" />
  <div class="translationllc__main__intro__stoutism__words-two translationllc__stoutism-words">
    <p class="translationllc__stoutism-attribution">- Lead, don't follow. Stay five steps ahead.</p>
  </div>
</div> -->
<!-- <div id="stoutismWork" class="gradientParallax preserveAspectRatio">
  <img src="../assets/Translation_MobileSite_1334x750_Gradient_3.png" class="translationllc__stoutism" />
  <div class="translationllc__main__work__stoutism__words translationllc__stoutism-words">
    <p class="translationllc__stoutism-attribution">- Nuf said.</p>
  </div>
</div> -->
<!-- <div id="stoutismCulture" class="gradientParallax preserveAspectRatio">
  <img src="../assets/Translation_MobileSite_1334x750_Gradient_4.png" class="translationllc__stoutism" />
  <div class="translationllc__main__culture__stoutism__words translationllc__stoutism-words translationllc__stoutism-words--tall-quote">
    <p class="translationllc__stoutism-attribution translationllc__stoutism-attribution--tall-quote">- This old proverb from Zimbabwe reminds us to never settle. Let’s raise the bar together.</p>
  </div>
</div> -->
