<main id="translationllcIntro" class="translationllc__intro" style="opacity: 0">
  <div id="translationllcAnimation" class="translation__main__intro-block translationllc__intro__animation">
    <div class="translationllc__intro__background__we-are-translation">

    </div>
    <div id="animationPlusIcon" class="translationllc__intro__background__plus">

    </div>
  </div>
</main>
<main id="translationllcMain" class="translationllc__main" style="opacity: 0">
  <section class="translation__section" id="intro">
    <div class="translation__main__intro-block">
      <!-- <div class="translation__main__intro-block__svg-overlay">
      </div> -->
    </div>

    <div class="translation__main__intro-block-two">
      <div class="translation__main__intro-block-two__svg-overlay">
      </div>
    </div>

    <tllcvideo class="translationllc__featured-video" id="featuredVideo">
      <figure class="translationllc__video__container--intro">
        <video class="translationllc__video__container__video--intro" id="featuredVideo" src="https://s3.amazonaws.com/translation-bucket/homepageImages/nfl_inside_these_lines.mov">
        </video>
        <tllcvideoSvgOverlay class="translationllc__video__container__svg-overlay--intro" style="background-image: url(assets/OurReel.svg)">
        </tllcvideoSvgOverlay>
      </figure>
      <button class="translationllc__video__play-button" id="featuredVideo" type="button" name="button">
      </button>
    </tllcvideo>

    <div id="parallaxRed" class="parallax">
      <div class="parallax__layer parallax--red parallax__layer--back translation__section__stoutism">
      </div>
      <div class="parallax__layer parallax__layer--base translation__main__faverage__svg-overlay"></div>
    </div>

    <div class="translation__main__articles">
      <div class="translation__main__articles__article translationllc__main__articles__article--news">
        <h3 class="translation__main__articles__news">NEWS</h3>
      </div>
      <hr class="translationllc__main__articles__news-hr">
      <div class="translation__main__articles__article">
        <h5 class="translation__main__articles__article-publication">CAMPAIGN US</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translation__main__articles__article-link" href="http://www.campaignlive.com/article/nfl-makes-plea-unity-super-bowl-li-spot/1423314">NFL makes a plea for unity in Super Bowl LI Spot</a>
        </div>
      </div>
      <hr>
      <div class="translation__main__articles__article">
        <h5 class="translation__main__articles__article-publication">DIGIDAY</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a class="translation__main__articles__article-link" href="http://digiday.com/agencies/diamonds-come-diversity-translation-president-pat-lafferty-made-advertising/">'Diamonds come from diversity': How Translation President Pat Lafferty made it in advertising</a>
          <p class="translation__main__articles__article-author">BY: TANYA DUA</p>
        </div>
      </div>
      <hr>
      <div class="translation__main__articles__article">
        <h5 class="translation__main__articles__article-publication">FORBES</h5>
        <div class="translationllc__main__articles__article-title-author-container">
          <a  class="translation__main__articles__article-link" href="http://www.forbes.com/sites/groupthink/2016/12/13/why-your-business-needs-to-be-amazon-nordstrom-and-walmart-rolled-into-one/#617759f94de7">Why your business needs to be Amazon, Nordstrom and Walmart rolled into one.</a>
          <p class="translation__main__articles__article-author">BY: PATRICK LAFFERTY</p>
        </div>
      </div>
    </div>

    <div id="parallaxBlue" class="parallax">
      <div class="parallax__layer parallax--blue parallax__layer--back translation__section__stoutism"></div>
      <div class="parallax__layer parallax__layer--base translation__section__stoutism__quote translation__section__stoutism__quote--blue"></div>
    </div>
  </section>

  <section class="translation__section" id="work">
    <div class="translation__main__work">
      <div class="translation__main__work__svg">
      </div>
      <div class="translation__main__work-quote ">
        <p>WORK THAT ACTUALLY WORKS. WE USE CULTURAL CODES TO BREAK THE ICE.</p>
      </div>
    </div>

    <tllcvideo class="translationllc__work-video" id="workVideoOne">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--one">
        <video class="translationllc__video__container__video--work-video" id="workVideoOne" src="https://s3.amazonaws.com/translation-bucket/homepageImages/budweiser_jukebox.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoOne" type="button" name="button">
      </button>
    </tllcvideo>

    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">BUD LIGHT: JUKEBOX</h3>
      <p class="translation__main__vidoe-text-content__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed do eiusmod tempor. Suspendissi potenti.
      </p>
    </div>

    <tllcvideo class="translationllc__work-video" id="workVideoTwo">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--two">
        <video class="translationllc__video__container__video--work-video" id="workVideoTwo" src="https://s3.amazonaws.com/translation-bucket/homepageImages/budweiser_very-superstitious.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoTwo" type="button" name="button">
      </button>
    </tllcvideo>

    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">BUD LIGHT: VERY SUPERSTITIOUS</h3>
      <p class="translation__main__vidoe-text-content__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed do eiusmod tempor. Suspendissi potenti.
      </p>
    </div>

    <tllcvideo class="translationllc__work-video" id="workVideoThree">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--three">
        <video class="translationllc__video__container__video--work-video" id="workVideoThree" src="https://s3.amazonaws.com/translation-bucket/homepageImages/champs_khaled.mp4">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoThree" type="button" name="button">
      </button>
    </tllcvideo>

    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">CHAMPS SPORTS: DJ KHALED'S OWN CHAMPS SPORTS STORE</h3>
      <p class="translation__main__vidoe-text-content__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed do eiusmod tempor. Suspendissi potenti.
      </p>
    </div>

    <tllcvideo class="translationllc__work-video" id="workVideoFour">
      <figure class="translationllc__video__container--work-video translationllc__video__container--work-video--four">
        <video class="translationllc__video__container__video--work-video" id="workVideoFour" src="https://s3.amazonaws.com/translation-bucket/homepageImages/nfl_inside_these_lines.mov">
        </video>
      </figure>
      <button class="translationllc__video__play-button" id="workVideoFour" type="button" name="button">
      </button>
    </tllcvideo>

    <div class="translation__main__video-text-content">
      <h3 class="translation__main__video-text-content__header">NFL: INSIDE THESE LINES</h3>
      <p class="translation__main__vidoe-text-content__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Sed do eiusmod tempor. Suspendissi potenti.
      </p>
    </div>

    <div id="parallaxPurple" class="parallax">
      <div class="parallax__layer parallax--purple parallax__layer--back translation__section__stoutism"></div>
      <div class="parallax__layer parallax__layer--base translation__section__stoutism__quote translation__section__stoutism__quote--purple"></div>
    </div>
  </section>

  <section class="translation__section" id="culture">
    <div class="translation__main__culture">
      <div class="translation__main__culture__svg">
      </div>
      <div class="translation__main__culture-quote">
        <p>OUR CULTURE MOVES CULTURE. WE ARE PEERS TO THE PEOPLE WE SPEAK WITH.</p>
      </div>
    </div>

    <div class="translation__section__culture-highlight">
      <h2 class="translation__main__stoutism__quote">Emcee</h2>
    </div>

    <div id="parallaxGreen" class="parallax">
      <div class="parallax__layer parallax--green parallax__layer--back translation__section__stoutism"></div>
      <div class="translation__section__stoutism__quote translation__section__stoutism__quote--green"></div>
    </div>
  </section>

  <section class="translationllc__united-masters" id="unitedMasters">

    <div class="translation__main__culture-gif">
    </div>

    <div class="translation__united-masters__next-chapter">
      <h2 class="translation__united-masters__next-chapter__header">OUR NEXT CHAPTER</h2>
      <p class="translation__united-masters__next-chapter__content">
        From the beginning, Translation was a different kind of team: a diverse mix of music industry veterans,
        strategic experts, multidisciplinary creatives, and innovative business leaders.
      </p>
      <p class="translation__united-masters__next-chapter__content">
        Knowing that cultural relevance demands constant re-invention, we have gone through countless transformations
        as we have seen our company grow from a few people gathered in a single conference room to a vibrant team
        of 150 across two coasts.
      </p>
      <p class="translation__united-masters__next-chapter__content">
        And now, in partnership with Alphabet Inc., Andreessen Horowitz, 21st Century Fox and Floodgate, we are embarking
        upon our greatest transformation to date.
      </p>
      <p class="translation__united-masters__next-chapter__content">
        We are thrilled to introduce UnitedMasters: Translation's new partner company.
      </p>
      <p class="translation__united-masters__next-chapter__content">
        UnitedMasters is an entirely new kind of music company, built to unite the power of data and the pursuit
        of creative freedom to invent new ways to help artists maximize their creative and economic potential.
      </p>
      <p class="translation__united-masters__next-chapter__content">
        This is the biggest chapter yet of the WIP story we began in 2004, and we couldn't be more excited about what the
        future will hold.
      </p>
      <hr>
    </div>

    <div class="translation__united-masters__logo">
    </div>

    <hr>
  </section>
  <section class="translation__contact-us" id="contactUs">
    <h2 class="translation__contact-us__header">STAY IN TOUCH</h2>
    <div class="translationllc__contact-us__two-column-container">
      <div class="translationllc__contact-us__two-column-container__column">
        <div class="translation__contact-us__container">
          <p>145 West 45th Street</p>
          <p>12th Floor</p>
          <p>New York, NY 10036</p>
        </div>
        <div class="translation__contact-us__container">
          <a href="tel:1-212-299-5505">212.299.5505</a>
        </div>
      </div>
      <div class="">
        <div class="translation__contact-us__container translationllc__contact-us__container--new-business">
          <p>New Business:</p>
          <a href="mailto:newbusiness@translationllc.com">newbusiness@translationllc.com</a>
        </div>
        <ul class="translation__contact-us__social-media">
          <a href="https://www.instagram.com/wearetranslation/"><li class="translation__contact-us__social-media__icon translation__contact-us__social-media__icon--instagram"></li></a>
          <a href="https://twitter.com/pulseofculture?lang=en"><li class="translation__contact-us__social-media__icon translation__contact-us__social-media__icon--twitter"></li></a>
          <a href="https://www.facebook.com/translation/"><li class="translation__contact-us__social-media__icon translation__contact-us__social-media__icon--facebook"></li></a>
        </ul>
      </div>
    </div>
    <p class="translationllc__contact-us__copyright">Ⓒ2017 Translation. All Rights Reserved.</p>
  </section>
  <button style="display: none" id="requestFullscreenButton" type="button" name="button"></button>
</main>
