.translationllc__main__culture__section-icon {
  background-image: none;
}
.translationllc__section-icon__words--emcee {
  width: 17% !important;
}
.translationllc__main__culture__culture-mission {
  background-image: url(../assets/translation-desktop-NYC.jpg);
}
.translationllc__main__culture__emcee__moniker {
  font-size: 74px;
}
