@font-face {
  font-family:"Mark W01 Bold";
  src:url("../fonts/5423411/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix");
  src:url("../fonts/5423411/8706c0b6-b423-44f7-ae1a-dd0aabd8a542.eot?#iefix") format("eot"),url("../fonts/5423411/41c8162d-c2a6-49b0-8139-8bebab187588.woff2") format("woff2"),url("../fonts/5423411/4fe94f2e-7892-4785-9663-0350a7adf8c0.woff") format("woff"),url("../fonts/5423411/3a7daddb-0a78-4734-a699-6fe08d0e8b99.ttf") format("truetype");
}
@font-face {
  font-family:"Mark W01 Book";
  src:url("../fonts/5423523/3805eba7-24c2-41ba-91d2-8fa5db02bc00.eot?#iefix");
  src:url("../fonts/5423523/3805eba7-24c2-41ba-91d2-8fa5db02bc00.eot?#iefix") format("eot"),url("../fonts/5423523/e6beefbb-4014-4efa-961b-7762af9aefef.woff2") format("woff2"),url("../fonts/5423523/5b4bd9d6-75be-4d76-8292-7f6434b9e997.woff") format("woff"),url("../fonts/5423523/d049afa3-baf5-4612-abf2-852763051b9c.ttf") format("truetype");
}
