html {
	font-size:18px;
	/*letter-spacing:.1em;*/
}

h1, h2, h3, h4 {
	1em;
}

.translationllc__header {

}

.translationllc__section-icon--contains-copy {
	padding:0 0 0 0;
}

.translationllc__header__translation-logo {
  left:3%;
  top:50%;
}

.translationllc__header__translation-logo_sermad {
	width:195px;
	margin: 2.2em 0 0 2.2em;
	cursor: pointer;
	display: block;
}

.translationllc__nav {
	right:1.8em;
	top:2.8em;
	font-size:0.81em;
}

.translationllc__nav__work {

}
.translationllc__nav__culture {

}

.translationllc__main {
	background:#000000;
}

.translationllc__video__container__overlay--intro {
	max-width:50%;
	min-width:50%;
	top:15%;
	margin: auto;
    /*border: 3px solid #73AD21;*/
}

.translationllc__section-icon__copy--container {
	width:63%;
	/*border:1px solid #red;*/
	/*font-size:1.3em;*/
	/*letter-spacing:0.1em;*/
}

.translationllc__video__container__overlay__first-block {
	/*font-size:1.9em;*/
}

.translationllc__video__container__overlay__second-block {
	/*font-size:1.9em*/
}

h1 {
	font-family:'Mark W01 Bold';
	/*font-size: 2em;*/
	font-size: 3.3vw;
	letter-spacing: 0.108em;
}
}

.translationllc__section-icon__copy--container--intro {
	margin-top: 7em;
	width:64%;
}

.translationllc__nav {

	/*font-size:1.1em;*/
}

.translationllc__main__work {
	margin:200px 0 130px 0;
}

.translationllc__section-icon--work {
	/*background-size: 150%;*/
	background-size: contain;
	height:288px;
}

.translation__main__video-text-content {
	text-align:center;
	padding-top:20px;
	padding-bottom:70px;
}

.translation__main__video-text-content__header {
	width:64%;
	margin-top:0.5em;
	letter-spacing:0.07em;
	margin-bottom:5px;

	/*font-size:3em;*/
}

.translation__main__video-text-content__content {
	width:64%;
	font-size:0.7em;
	line-height:1.2em;
}

.translationllc__section-icon--news {
	background-size: contain;
	height:300px;
}

.translationllc__main__articles {
	/*padding-bottom:0;*/
}

.translationllc__main__articles__article {
	padding:9px 0 0 0;
	margin:0 auto 45px auto;
	width:64%;
	color:#a6a6a6;
	/*border:1px solid red;*/
	/*margin:auto;*/
}

.translationllc__main__articles__article-title-author-container {
	width:100%;
	font-size:1.3em;
}

.translationllc__main__articles__article-publication {
	font-size:0.72em;
	margin:0 0 10px 0;
}

.translationllc__main__articles__article-link {
	font-size:1em;
	letter-spacing:0.004em;
	margin:0 0 0 0;
}

.translationllc__main__articles__article-author {
	margin:10px 0 0 0;
	font-size:0.55em;
	color:#a6a6a6;
	letter-spacing:0.03em;
}

#cultureSection {
	margin: 155px 0 0 0;
}

.translationllc__section-icon--culture {
	background-size: 820px;
	height:200px;
	margin:0px 0px 150px 0px;
}

.translationllc__video__container--biggiebreakfast {
	margin:-112px 0px 0px 0px;
}

.translationllc__section-icon {
	padding: 0 0 0 0;
	margin: 0 0 190px 0; /* math */
}

.translationllc__section-icon--majors-minors {
	background-size: 600px;
	height:540px;
	margin:0px 0 55px 0;
}

.translationllc__contact-us {
	padding-left:13em;
}

.translationllc__contact-us__header {
	font-size:1.1em;
	/*letter-spacing:0.1em;*/
	margin-bottom:60px;
}

.translationllc__contact-us__container {
	font-size:0.9em;
}

.translationllc__contact-us__container h4 {
	font-family:'Mark W01 Bold';
	margin: 0 0 10px 0;
	padding: 0 0 0 0;
}

.translationllc__contact-us__container_tel {
	margin:4em 0 0 0;
	font-size:0.9em;
}

.translationllc__contact-us__copyright {
	margin:40px 0 20px 0;
	padding:0 0 0 0;
	font-size:0.6em;
}

.translationllc__main__articles {
	padding:0;
}

#minorsCarousel {
	margin:-90px 0 0 0;
}

.translationllc__contact-us__two-column-container__column {
	font-size:0.9em;
}

#sizzleVideo {
	/*margin-top:25px;*/
}

.translationllc__section-icon translationllc__section-icon--work {
}
