.translationllc__stoutism {
  background-size: 100% 200%;
}
.translationllc__stoutism-words {
  background-size: 50%;
}
.translationllc__stoutism-words--tall-quote {
  background-size: 40%;
}
.translationllc__stoutism-words--html {
  font-size: 38px;
  letter-spacing: 2px;
}
