.translationllc__main__united-masters__next-chapter {
  
  width: 60%;
  margin: auto;
  
}
.translationllc__main__united-masters__next-chapter__content {
  padding-left: 15px;
  padding-right: 15px;
  width: 80%;
}
.translationllc__main__united-masters__next-chapter__header {
  padding-left: 15px;
  padding-right: 15px;
}
