.translationllc__video__play-button {
  width: 80px;
  height: 80px;
}
.translationllc__video__container--intro {
  background-image: url(../assets/translation-desktop-header.jpg);
}
.translation__main__video-text-content__header {
  width: 58%;
  margin: auto;
  margin-bottom: 15px;
}
.translation__main__video-text-content__content {
  width: 58%;
  margin: auto;
}
.translation__main__video-text-content {
  width: 100%;
  padding-top: 110px;
  padding-bottom: 110px;
  padding-left: 0;
  padding-right: 0;
  background: black;
  position: relative;
}
.translationllc__video__container__overlay__first-block {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
}

.translationllc__video__container__overlay__second-block {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  text-align: left;
  flex-direction: row;
}
.translationllc__video__container__svg-overlay--intro {
  display: none;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 50%;
  background-size: 30%;
  transform: translateY(-50%);
  background-image: url(../assets/WeAreCulturalCatalysts_NoPlus.svg);
}
.translationllc__video__container__overlay--intro {
  width: 840px;
}
.translationllc__video__container--feature-video {
  background-image: url(../assets/sizzle_desktop.jpg);
}
.translationllc__video__container--work-video--one {
  background-image: url(../assets/SF_Chris_1366_768.jpg);
}
.translationllc__video__container--work-video--two {
  background-image: url(../assets/HAA90sec1366x768.jpg);
}
.translationllc__video__container--work-video--three {
  background-image: url(../assets/DSW_desktop.jpg);
}

.translationllc__video__container--work-video--four {
  background-image: url(../assets/NBA_DESKTOP[4].jpg);
}

.translationllc__video__container--work-video--five {
  background-image: url(../assets/AppleMusic_desktop.jpg);
}

.translationllc__video__container--work-video--six {
  background-image: url(../assets/mia-desktop.jpg);
}

.translationllc__video__container--work-video--seven {
  background-image: url(../assets/paul-web.jpg);
}

.translationllc__video__container--work-video--eight {
  background-image: url(../assets/BrooklynNets_desktop.jpg);
}
.translationllc__video__container--work-video--nine {
  background-image: url(../assets/Champs_Khaled_desktop.jpg);
}
.translationllc__video__container--biggiebreakfast {
  background-image: url(../assets/biggiebreakfast_desktop.jpg);
}
